#--------OAuth2.0 Client Configuration---------
scope=
grant_type=authorization_code
client_id=	d09473a0-0a92-4945-aa1b-d3539e4828be
client_secret=YourFeedbackIsAppreciated
access_token=
authentication_server_url=https://apistage.logisticare.com/ext/auth/oauth/v2/token
code=7fe3c66e-4bb0-4bd1-a1f9-e0f232d87fed
redirect_uri=http://dev.operr.com/
#resource_server_url=http://jeffhoy1.rtp.raleigh.ibm.com:9080/snoop

#------------------------------------------------






















